body{
    background-color: rgb(255 245 226)
}

.social h4{
    display: inline;
    margin-right: 50px;
    font-family: cursive;
}
/* .navigation{
    position: sticky;
} */

.social{
    margin: 10 auto;
    text-align: center;
    font-size: xx-large;
   
}
.social i{
    margin-right: 30px;
    cursor: pointer;
}
.facebook{
    color: blue;
}
.twitter{
    color: dodgerblue;
}
.instagram{
    color:rgb(255 0 178);
}
.tumbler{
    color:red;
}
.soc:hover {
   font-size: 40px;
}

.totop{
    border: 1px solid white;
    padding: 2px;
}
.totop:hover{
    color: black;
    background-color: white;
}


.card3, .news, .blogs{
    padding: 20px 0;
    border-top: 1px solid rgb(51, 50, 50);
}
.card img{
    cursor: pointer;
}
.card img:hover{
    filter:brightness(50%);

}

/* Sidebar */


/* menu dropdown when resolution decreases */
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  
  .show-menu-btn{
    float: right;
      padding-right: 20px;
      color: white;
  }
  .show-menu-btn i{
    line-height: 50px;
  }
  .hide-menu-btn
  {
      color:white;
  }
  .show-menu-btn i:hover
  {
      color: yellowgreen;
  }
  
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
  
  @media screen and (max-width:800px) {
    .show-menu-btn,.hide-menu-btn{
      display: block;
    }
    .menu{
      opacity: 1;
      position: fixed;
      width: 30%;
      height: 100%;
      background: #333;
      right: -100%;
      top: 0;
      
      padding: 80px 0;
      line-height: normal;
      transition: 0.4s;
    }
    .menu li{
      display: inline;
      padding: 20px;
        width: 100%;
        text-align: center;
    }
    .hide-menu-btn{
      position: absolute;
      top: 55px;
      right: 40px;
    }
    #chk:checked ~ .menu{
      right: 0;
    }
  }

  footer .links h4 {
    color: #66fcf1;
}

footer .links a{
    text-decoration: none;
    display: flex;
    color: #fff;
    font-size: 16px;
}

footer .icons {
    font-size: 16px;
    color: #fff;
}

footer .icons i {
    padding-right: 14px;
}



footer p {
    color: rgb(185, 181, 181);
}

footer p a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}
  
