<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coding Blogs</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/css/login.css" />
</head>

<body>
    <div class="container" id="logged">
        <div class="row">
            <div class="col-sm-4"></div>

            <div class="col-sm-4">
                <div class="login_form">
                    <img src="../blogs-news/Screenshot 2022-01-11 125944.png" class="logo img-fluid" srcset="" />

                    <form action="index.html" onsubmit="myFunction()">
                        <div class="mb-3">
                            <label class="label_txt" >Username or Email</label>
                            <input type="text" name="username" id="email" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="label_txt">Password</label>
                            <input type="password" name="password" id="password" class="form-control" />
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              Remember me
                            </label>
                          </div>
                        <br>
                        <button type="submit" class="btn btn-primary form_btn" id="login" onclick="myFunction()">
                            Login
                        </button>
                    </form>

                    <p style="font-size: 12px; text-align: center; margin-top: 10px">
                        <a href="#" style="color: #00376b; text-decoration: none">Forgot Password?</a>
                    </p>
                    <br />
                    <p>
                        Don't have an account?
                        <a href="signup.html" style="text-decoration: none">Sign up</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-4"></div>
        </div>
    </div>
    <script src="../script.js"></script>
    
    
</body>

</html>